/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 15px;
}

body {
  margin-left: auto;
  margin-right: auto;
  min-width: 375px;
  max-width: 1440px;
  font-family: "Alata", sans-serif;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}

/* Variables SASS */
.title {
  font-size: 2.2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .title {
    font-size: 4rem;
  }
}

.header__title {
  font-size: 2.8rem;
  border: solid var(--white);
  padding: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .header__title {
    width: 50%;
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .article__title {
    font-size: 3rem;
  }
}

.gallery__name {
  text-align: left;
  font-size: 1.8rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .gallery__name {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .gallery__title {
    font-size: 3rem;
  }
}

.article__text {
  line-height: 30px;
  font-weight: 300;
  color: var(--dark-gray);
}

.header {
  position: relative;
  background-image: url(../assets/images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--white);
  height: 700px;
}
.header__menu--show {
  background-color: var(--black);
}
@media screen and (min-width: 1024px) {
  .header {
    padding-left: 8rem;
    padding-right: 8rem;
    height: 700px;
    background-image: url(../assets/images/desktop/image-hero.jpg);
    background-position: center;
  }
}
.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 12rem;
}
.header__logo {
  width: 150px;
}
@media screen and (min-width: 1024px) {
  .header__hamburger {
    display: none;
  }
}

.header--menu {
  position: relative;
  background-color: var(--black);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--white);
  height: 700px;
}
@media screen and (min-width: 1024px) {
  .header--menu {
    padding-left: 8rem;
    padding-right: 8rem;
    height: 700px;
    background-image: url(../assets/images/desktop/image-hero.jpg);
    background-position: center;
  }
}

.menu {
  display: none;
}
@media screen and (min-width: 1024px) {
  .menu {
    display: flex;
    position: static;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: auto;
    background-color: transparent;
    width: 450px;
    justify-content: space-evenly;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  .menu__link {
    display: block;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .menu__link {
    padding-bottom: 0;
  }
}

.menu--show {
  display: block;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  top: 100px;
  width: 100vw;
  left: 0;
  height: 600px;
  color: var(--white);
  background-color: var(--black);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  padding: 2rem;
}
@media screen and (min-width: 1024px) {
  .menu--show {
    display: flex;
    position: static;
    flex-direction: row;
    align-items: center;
    padding: 0;
    height: auto;
    background-color: transparent;
    width: 450px;
    justify-content: space-evenly;
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-size: 1rem;
  }
  .menu--show__link {
    display: block;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .menu--show__link {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1024px) {
  .link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
  }
}
@media screen and (min-width: 1024px) and (hover: hover) {
  .link:hover::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--white);
    top: 30px;
  }
}

.footer {
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  padding: 3rem;
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .footer__container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__internal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}
.footer__external {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer__logo {
  width: 130px;
}

.internal__menu {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .internal__menu {
    flex-direction: row;
  }
}

.socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .socials {
    justify-content: flex-end;
  }
}

.icon {
  font-size: 1.5rem;
}

.main {
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .main {
    padding-left: 8rem;
    padding-right: 8rem;
    text-align: left;
  }
}

.article {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
@media screen and (min-width: 1024px) {
  .article {
    position: relative;
  }
}
.article__img {
  margin-bottom: 4rem;
}
@media screen and (min-width: 1024px) {
  .article__img {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .article__info {
    position: absolute;
    top: 230px;
    left: 550px;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: var(--white);
    width: 55%;
  }
}

.gallery {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
@media screen and (min-width: 1024px) {
  .gallery {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 75rem;
  }
}
.gallery__button {
  display: block;
  width: 150px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 5px;
  color: var(--black);
  text-align: center;
  border: solid var(--black);
}
@media (hover: hover) {
  .gallery__button:hover {
    background-color: var(--black);
    color: var(--white);
  }
}
@media screen and (min-width: 1024px) {
  .gallery__button {
    margin-right: 4rem;
  }
}
.gallery__content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  margin-bottom: 2rem;
  color: var(--white);
  grid-template-rows: auto;
}
@media screen and (min-width: 1024px) {
  .gallery__content {
    position: absolute;
    top: 150px;
    grid-template-columns: 256px 256px 256px 256px;
    grid-template-rows: 450px 450px;
  }
}
.gallery__name {
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  .gallery__name {
    padding-top: 22rem;
  }
}
.gallery__item--deep-earth {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/mobile/image-deep-earth.jpg);
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .gallery__item--deep-earth {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/desktop/image-deep-earth.jpg);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) {
  .gallery__item--deep-earth:hover {
    color: var(--black);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 100%, transparent), url(../assets/images/desktop/image-deep-earth.jpg);
  }
}
.gallery__item--night-arcade {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/mobile/image-night-arcade.jpg);
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .gallery__item--night-arcade {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/desktop/image-night-arcade.jpg);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) {
  .gallery__item--night-arcade:hover {
    color: var(--black);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 100%, transparent), url(../assets/images/desktop/image-night-arcade.jpg);
  }
}
.gallery__item--soocer-team {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/mobile/image-soccer-team.jpg);
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .gallery__item--soocer-team {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/desktop/image-soccer-team.jpg);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) {
  .gallery__item--soocer-team:hover {
    color: var(--black);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 100%, transparent), url(../assets/images/desktop/image-soccer-team.jpg);
  }
}
.gallery__item--the-grid {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/mobile/image-grid.jpg);
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .gallery__item--the-grid {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/desktop/image-grid.jpg);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) {
  .gallery__item--the-grid:hover {
    color: var(--black);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 100%, transparent), url(../assets/images/desktop/image-grid.jpg);
  }
}
.gallery__item--from-up {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/mobile/image-from-above.jpg);
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .gallery__item--from-up {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/desktop/image-from-above.jpg);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) {
  .gallery__item--from-up:hover {
    color: var(--black);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 100%, transparent), url(../assets/images/desktop/image-from-above.jpg);
  }
}
.gallery__item--pocket-borealis {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/mobile/image-pocket-borealis.jpg);
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .gallery__item--pocket-borealis {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/desktop/image-pocket-borealis.jpg);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) {
  .gallery__item--pocket-borealis:hover {
    color: var(--black);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 100%, transparent), url(../assets/images/desktop/image-pocket-borealis.jpg);
  }
}
.gallery__item--the-curiosity {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/mobile/image-curiosity.jpg);
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .gallery__item--the-curiosity {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/desktop/image-curiosity.jpg);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) {
  .gallery__item--the-curiosity:hover {
    color: var(--black);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 100%, transparent), url(../assets/images/desktop/image-curiosity.jpg);
  }
}
.gallery__item--make-it {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/mobile/image-fisheye.jpg);
  background-size: cover;
}
@media screen and (min-width: 1024px) {
  .gallery__item--make-it {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent), url(../assets/images/desktop/image-fisheye.jpg);
  }
}
@media screen and (min-width: 1024px) and (hover: hover) {
  .gallery__item--make-it:hover {
    color: var(--black);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 100%, transparent), url(../assets/images/desktop/image-fisheye.jpg);
  }
}
